*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.dashboard img[src$="svg"] {
    filter: invert(91%) sepia(99%) saturate(36%) hue-rotate(256deg) brightness(107%) contrast(100%);
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.dashboard {
    padding: 0 10px;
    background-color: dodgerblue;
    font-weight: bold;
    grid-column: 1;
    grid-row: 1 / 6;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 2fr repeat(10, 1fr) 9fr;
}

.dashboard img {
    height: 30px;
    width: 30px;
    justify-self: center;
}

.dashboard>a {
    font-size: 18px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

.dashboard>.first-a {
    font-size: 27px;
}

.dashboard>.first-img {
    height: 45px;
    width: 45px;
}

.topbar {
    grid-column: 2 / 5;
    grid-row: 1;
}

.content {
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    display: grid;
}

.item {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px;
    place-items: center;
    padding: 0 20px;
}

.topbar {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 4fr 5fr;
    box-shadow: 0 2px 5px lightgrey;
    position: relative;
    padding: 10px 40px 10px 20px;
    align-items: center;
    font-weight: bold;
}

.topbar img {
    width: 30px;
}

.search {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 9fr;
}

.search>img {
    height: 30px;
    width: 100%;
}

.search input {
    border-radius: 20px;
    background-color: lightblue;
    border: 0;
    font-size: 20px;
    padding: 0 10px;
}

.search input:focus {
    outline: 0;
    border: 1px solid grey;
}

label[for="searchbar"] {
    display: grid;
    place-items: center;
}

label[for="searchbar"]>img,
.profile>img[src*="bell.svg"] {
    width: 20px;
    height: 20px;
}

.profile>img:nth-child(2) {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.profile {
    display: grid;
    grid-template-columns: 30px 30px 1fr;
    gap: 35px;
    place-items: center;
    padding-right: 20px;
}

.profile,
.buttons {
    justify-self: end;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.welcome>img {
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.wrapper {
    display: grid;
    padding: 5px 10px;
    grid-template-rows: 2fr 3fr;
}

.wrapper>* {
    margin: 0;
}

.wrapper>p:first-child {
    font-size: 18px;
}

.wrapper>p:last-child {
    font-size: 27px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px;
}

.buttons>button {
    background-color: royalblue;
    color: white;
    border-radius: 30px;
    border: 0px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.content {
    background-color: #e2e9f1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 0 25px;
}

.projects,
.announcements,
.trending {
    align-items: center;
}

.projects {
    grid-row: 1 / 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px repeat(3, 1fr);
}

.projects>p {
    grid-column: 1 / 3;
}

.announcements {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 30px repeat(3, 1fr);
}

.projects,
.announcements,
.trending {
    place-items: center;
}

.trending {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 30px repeat(4, 1fr);
}

.projects>p,
.announcements>p,
.trending>p {
    justify-self: left;
    font-weight: 500;
    margin: 0;
    padding-left: 10px;
    grid-row: 1;
}

.someproject {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    box-shadow:
        0 2px 2px lightgrey,
        5px 0 0 orange inset;
}
