*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.dashboard {
    background-color: dodgerblue;
    font-weight: bold;
    grid-column: 1;
    grid-row: 1 / 6;
    display: grid;
    align-items: center;
}

.dashboard img {
    height: 30px;
    width: 30px;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 30px;
}

.topbar {
    grid-column: 2 / 5;
    grid-row: 1;
}

.content {
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    display: grid;
}

.item {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px;
    place-items: center;
    padding: 0 20px;
}

.first-item {
    font-size: 24px;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 60px;
    place-items: center;
    padding: 20px;
}

.first-item>img {
    width: 60px;
    height: 60px;
}
