*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.dashboard {
    padding: 0 10px;
    background-color: dodgerblue;
    font-weight: bold;
    grid-column: 1;
    grid-row: 1 / 6;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 2fr repeat(10, 1fr) 9fr;
}

.dashboard img {
    height: 30px;
    width: 30px;
    justify-self: center;
}

.dashboard>a {
    font-size: 18px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

.dashboard>.first-a {
    font-size: 27px;
}

.dashboard>.first-img {
    height: 45px;
    width: 45px;
}

.topbar {
    grid-column: 2 / 5;
    grid-row: 1;
}

.content {
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    display: grid;
}

.item {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px;
    place-items: center;
    padding: 0 20px;
}

.topbar {
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 4fr 5fr;
    box-shadow: 0 2px 5px grey;
    position: relative;
    padding: 10px;
    align-items: center;
}

.topbar img {
    width: 30px;
}

.search {
    padding: 0 10px;
}

.search>img {
    height: 30px;
    width: 100%;
}

.profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.profile,
.buttons {
    justify-self: end;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.welcome>img {
    justify-self: center;
    align-self: center;
}

.content {
    background-color: lightgrey;
}
